body{
    background-color: white;
}
h1{
    color: plum;
    font-size: 3em;
    margin: .2em;
}
button{
    border-radius: 0.5em;
    border: 0;
    }

    .offering_display{
        width: 5em;
    }

.offering{
    background-color: #E1FFDB;
    height: 8em;
    border-radius: 1em;
    margin: .5em;
    
}
        .thumb_up{
             border: 0;
        }
        .thumb_down{
             border: 0;
        }
    /*offer like*/
    .offer_like{
        background-color: lightgreen;
    }
        .offer_like .thumb_up{
             display: inline;
             background-color: green;
             border-radius: 0.5em;
             border: 0;
        }
        .offer_like .thumb_down{
             display: inline;
             background-color: lightgreen;
             border: 0;
        }
    /*offer dislike*/
    .offer_dislike{
        background-color: pink;
        /*display: none;*/
    }
        .offer_dislike .thumb_up{
             display: inline;
             background-color: pink;
             border: 0;
        }
        .offer_dislike .thumb_down{
             display: inline;
             background-color: red;
             border-radius: 0.5em;
             border: 0;
        }

/*offering left*/
    .offering_left{
        float: left;
        padding: 0.5em;
    }
        .offering_img{
            border-radius: 1em;
            height: 5em;
            width: 5em;
            overflow: hidden;
            display: block;
            
        }

    .offering_details{
        border: 0em;
        border-radius: 0em;
        margin: 0em;
        padding: 0em;
        height: 2em;
        display: block;
        height: 4.9em;
    }
        h6{
            color: blue;
            text-align: left;
            font: bold;
            font-size: 1.5em;
            line-height: 1em;
            padding-left: 0.5em;
            padding-right: 1em;
            display: inline;
        }
        .offering_offerer{
            
            max-height: 1.5em;
            max-width: 1.5em;
            display: inline;
        }

        p{
            padding-left: 0.5em;
            font: 1em blue;
        }